<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>static dir</title>
  <style>
    * {padding:0; margin:0;}
    ul,ol {list-style: none;}
    .dir-list{margin: 15px;}
    .dir-list li{padding: 5px;}
    .dir-list li a{color:darkslateblue; text-decoration: none;}
    .dir-list li a:hover{text-decoration: underline;}
    .file-num{display: inline-block;margin-right: 10px;}
  </style>
</head>
<body>
  <ul class="dir-list">
    
      <li><span class="file-num">1.</span><a href="/.DS_Store">.DS_Store</a></li>
    
      <li><span class="file-num">2.</span><a href="/bin">bin</a></li>
    
      <li><span class="file-num">3.</span><a href="/config">config</a></li>
    
      <li><span class="file-num">4.</span><a href="/index.js">index.js</a></li>
    
      <li><span class="file-num">5.</span><a href="/lib">lib</a></li>
    
      <li><span class="file-num">6.</span><a href="/node_modules">node_modules</a></li>
    
      <li><span class="file-num">7.</span><a href="/package-lock.json">package-lock.json</a></li>
    
      <li><span class="file-num">8.</span><a href="/package.json">package.json</a></li>
    
      <li><span class="file-num">9.</span><a href="/readme.md">readme.md</a></li>
    
      <li><span class="file-num">10.</span><a href="/template">template</a></li>
    
      <li><span class="file-num">11.</span><a href="/tt2.txt">tt2.txt</a></li>
    
  </ul>
</body>
</html>